@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body
{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #EDEFF1;
}

header
{
    margin: 5px;
    height: 96px;
    width: 100%;
    background-color:#37474F;
    display: flex;
    flex-direction: row;
}

header h1
{
    color: white;
    padding-top: 8px;
    padding-left: 24px;
}

header img
{
    width:fit-content;
    height: fit-content;
    padding-top: 40px;
    margin-left: auto;
    padding-right:8px;
}

header span
{
    color: #F26241;
}

main
{
    margin-left: 5px;
    display: flex;
    flex-flow: row wrap;
}

section
{
    width: 220px;
    height: auto;
    margin-right: 20px;
    background-color: white;
}

section h4
{
    padding-left: 12px;
}

section img
{
    width: 100%; 
}

@media(max-width: 770px)
{
    section
    {
        width: 45%;
        height: auto;
    }
    section img
    {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 480px)
{
    section
    {
        width: 100%;
    }
    section img
    {
        width: 100%;
    }
}

h5
{
    color: white;
    opacity: 0;
    width: fit-content;
    border: 3px solid;
    background-color: #F26241;
    border-color: #F26241;
    border-radius: 5px;
    padding: 12px;
    margin-left: 12px;
    transition: all .5s ease-out;
}


section:hover h5
{
    opacity: 1;
    transition: all .5s ease-in;
}

section:hover
{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .5s ease-in;
}

a
{
    color: #8C1B24;
    text-decoration: none;
}