<div class="info">
    <img [src]="myReport.data.pictureLink" alt="monster img">
    <h1>{{ myReport.data.troubleMakerName }}</h1>
    <br>
    <h3>{{myReport.data.reporterName}}</h3><br>
    <h3>{{myReport.data.reporterPhoneNumber}}</h3><br>
    <br>
    <h3>{{myReport.data.locationName}}</h3><br>
    <h3>{{myReport.data.latitude}}</h3><br>
    <h3>{{myReport.data.longitude}}</h3><br>
    <br>
    <h3>{{myReport.data.extraInfo}}</h3>
    <br>
    <h3>{{theDate}}</h3>
    <pre></pre>
    <button routerLink="/">Back</button>
</div>


